<div class='o-grid__col'>


  <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card {% if forloop.first == true %} c-post-card--first {% endif %} {% if forloop.last == true %} c-post-card--last {% endif %}'>
    <p style="margin-bottom:10px; font-size:14px; color:#7E8482"> {{ post.categories }}</p>
    <h3 class='c-post-card__title' style="font-weight:normal">
    {{ post.title }}</h3>

    {% if post.image %}
      <img src='{{ post.image | prepend: site.baseurl }}' class='c-post__image' alt='{{ post.title }}'>
    {% endif %}

    <p class='c-post-card__excerpt noto-font-small'>
      {{ post.content | strip_html | truncatewords:20 }}
    </p>

  </a>

</div>